{% if content %}
  <div {{ attributes.addClass('two-column', 'container') }}>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            {{ content.col1}}
          </div>
        </div>
        <div class="col-md-4">
          <div>
            {{ content.col2 }}
          </div>
        </div>

        <div class="col-md-4">
          <div>
            {{ content.col3 }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
