.block-inline-blockhero {
  margin: 40px 0;

  .field--name-field-bottone {
    margin-top: 40px;

    .field--item {
      float: left;
      margin-right: 40px;
    }

    a {
      color: #fff;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 0 0 2px #fff;
      border-radius: 4px;
      text-decoration: none;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: bold;
    }

  }

  .it-hero-wrapper {
    background-color: $scuro;
  }

  .it-hero-wrapper.it-overlay.it-primary .img-responsive-wrapper::after {
    background: rgba(12,30,125,0.85);
  }
}

.block-inline-blocktesto {
  margin: 40px 0;
}

.block-inline-blockimmagine {
  margin: 40px 0;
  .field--name-field-didascalia {
    text-align: center;
    padding: 10px 0;
    font-style: italic;
  }

  img  {
    max-width: 100%;
  }
}

.block-inline-blockcard {
  margin: 40px 0;

  .card {
    width: 90%;
  }

  .field--name-field-bottone {
    .field--item {
      float: left;
      margin-right: 30px;
    }

    a  {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: $chiaro;
    }
  }

}

.block-field-blocknodepagetitle {
  font-size: 2.666rem;
  font-weight: bold;
  letter-spacing: -1.2px;
  line-height: 1.25;
}


.it-carousel-wrapper .owl-dots .owl-dot {
  background: $scuro;
}
