.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
  width: 82px;
}


// Header slim
.it-header-slim-wrapper {
  background: $medio;
}

// Header principale
.it-header-center-wrapper {
  background: $chiaro;
}

// Header menu
.it-header-navbar-wrapper {
  background: $chiaro;
}

// Footer principale
.it-footer-main {
  background: $scuro;
}

// Footer basso

.it-footer-small-prints {
  background: $scurissimo;
}

// Pager
.pager {
  text-align: center;
  margin-top: 25px;

  ul {
    li {
      list-style-type: none;
      display: inline;
      padding: 0 5px;
      font-size: 1.2rem;

      &.is-active {
        font-weight: bold;
        text-decoration: underline;
      }

      a {
        text-decoration: none;

      }
    }
  }

}

.field--label-inline .field--items, .field--label-inline .field--label {
  float: left
}

.field--label-inline .field--items, .field--label-inline .field--label, .field--label-inline > .field--item {
  padding-right: .5em
}

[dir=rtl] .field--label-inline .field--items, [dir=rtl] .field--label-inline .field--label {
  padding-left: .5em;
  padding-right: 0
}

.field--label-inline .field--label::after {
  content: ':'
}
