.it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper a .icon {
    width: 82px; 
}


// Header slim
.it-header-slim-wrapper {
    background: #463e32;
}

// Header principale
.it-header-center-wrapper {
    background: #875B3B;
}

// Header menu
.it-header-navbar-wrapper {
    background: #875B3B;
}

// Footer principale
.it-footer-main {
    background: #3e2717;
}

// Footer basso

.it-footer-small-prints {
    background: #25170e;
}