.persona-full {
  .changed {
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
  }

  .carriere {
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .tool  {
    margin-top: 20px;
    ul {
      padding-left: 0;

      li {
        list-style-type: none;

        a {
          color: #000;
          text-decoration: none;
        }

      }
    }
  }
}
