.ricerca-persone {

  .views-exposed-form {
    margin-top: 50px;
    padding-top: 60px;
  }

  .input-required, .no-results {
    text-align: center;
    padding: 40px;
    font-size: 1.5rem;
  }

  table {
    margin-top: 30px;
    width: 100%;

    tbody tr {
      border-bottom: 1px solid #ddd;
    }

    td {
      padding: 5px 0;

      a {
        text-decoration: none;
        color: $scuro;
        font-size: 1.2rem;
      }
    }

    th {
      padding-bottom: 10px;
    }

    img.tipo-carriera {
      width: 15px;
      margin-left: 10px;
    }
  }

  .filtri-ricerca {
    margin-top: 40px;
    padding-bottom: 80px;

    .tab-content {
      .block-facets {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }

  }

  .foto-ricerca {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
  }

  .singola-persona {
    margin-top: 30px;
  }

  #views-exposed-form-persone-ricerca {
    text-align: center;
    width: 80%;
    margin: 0 auto;

    .form-item-cerca {
      margin-bottom: 20px;
    }

    input.form-text {
      background: none !important;
      border: 1px solid #ddd;
      font-size: 24px;
      padding: 25px !important;
    }
  }

}

#block-formespostopersonericerca {
  padding-top: 0;
}


.filtri-ricerca-mappa {
  margin-top: 40px;

  .tab-content {
    .block-facets {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }

}

#search-modal {
  h5.modal-title {
    font-size: 1.5rem;
  }

  .modal-body {
    padding-bottom: 30px;
    text-align: center;
  }

  .form-item-cerca {
    margin-bottom: 15px;
  }

  input.form-text {
    background: none !important;
    border: 1px solid #ddd;
    font-size: 24px;
    padding: 25px !important;
  }
}
