.ricerca-persone {

  .views-exposed-form {
    margin-top: 50px;
    padding-top: 60px;
  }

  .input-required, .no-results {
    text-align: center;
    padding: 40px;
    font-size: 1.5rem;
  }

  table {
    margin-top: 30px;
    width: 100%;

    tbody tr {
      border-bottom: 1px solid #ddd;
    }

    td {
      padding: 5px 0;
      a {
        text-decoration: none;
        color: $scuro;
        font-size: 1.2rem;
      }
    }

    th {
      padding-bottom: 10px;
    }

    img.tipo-carriera {
      width: 15px;
      margin-left: 10px;
    }
  }

  .filtri-ricerca {
    margin-top: 40px;
    padding-bottom: 80px;

    .block-facet--dropdown {
      //float: left;
      //margin-right: 30px;
    }
  }

  .foto-ricerca {
    float: left;
    margin-top: 8px;
    margin-right: 10px;
  }

  .singola-persona {
    margin-top: 30px;
  }

}
