.elenco-facolta {

  .facolta-elenco-dettaglio {
    margin-bottom: 60px;

    img {
      max-width: 100%;
    }

    h2 {
       margin-top: 10px;

      a {
        font-size: 1.6rem;
        color: #000;
      }
    }

    .more {
      a {
        color: #000000;
      }
    }

  }
}
